.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #1c1c21;
}

.leftActions {
  display: flex;
  gap: 8px;
  flex-grow: 1;
  justify-content: center;
}

.rightActions {
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
}
